<%= render partial: 'submenu' %>
<%# Add if there is no search rsults, show now cards found message %>
<section class="section">
  <div class="columns is-multiline">
    <% if @products.present? %>
      <%= render partial: 'products/product', collection: @products %>
    <% else %>
      <div class="column is-full">
        <div class="notification is-warning has-text-centered">
          No cards found.
        </div>
      </div>
    <% end %>
  </section>
<%= paginate @products %>