<section class="section">
  <div class="container is-widescreen">
    <div class="columns is-multiline">
      <% if @products.present? %>
        <%= render partial: 'products/product', collection: @products %>
      <% else %>
        <div class="column is-full">
          <div class="notification is-warning has-text-centered">
            No products found.
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
  </section>
